@font-face {
  font-family: bahnschrift;
  src: url('./assets/fonts/BAHNSCHRIFT.TTF');
}

@keyframes slideleft {
  from {
    left: -4px;
  }

  to {
    left: -500px;
  }
}

@keyframes slidedown {
  0% {
    top: 20px;
  }

  30% {
    top: 90px;
  }

  70% {
    top: 90px;
  }

  100% {
    top: 20px;
  }
}

@keyframes growingtext {
  from {
    letter-spacing: normal;
  }

  to {
    letter-spacing: 8px;
  }
}

body {
  margin: 0;
  height: 1080px;
  width: 1920px;
  font-family: bahnschrift;
}
